.page {
  background-color: var(--bg-color);
  font-family: var(--main-font, sans-serif);
  font-weight: var(--wght-regular, 400);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 20px;
  line-height: 120%;
}

@supports (font-variation-settings: normal) {
  page {
    font-family: "GolosText-VariableFont", sans-serif;
  }
}

.container {
  position: relative;
  inline-size: clamp(20.9375rem, -0.0404rem + 89.5055vw, 76.375rem);
  margin: 0 auto;
  margin-inline: clamp(1.25rem, 0.0202rem + 5.2472vw, 4.5rem);
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  border: 3px solid #fbce51;
}

.title {
  font-family: var(--accent-font, fantasy);
  font-weight: var(--wght-regular, 400);
  text-transform: uppercase;
  color: var(--text-color);
}

.text {
  font-family: var(--main-font, sans-serif);
  font-weight: var(--wght-regular, 400);
  color: var(--text-color);
  line-height: 120%;
}

/* ------------------------------------ главный экран ------------------------------------ */

.header {
  margin-block-end: 80px;
}

.decoration-zone {
  width: 100%;
  position: relative;
  background: url(/images/bg.png) no-repeat, url(/images/bg-img.png) no-repeat,
    var(--secondary-bg-color);
  background-blend-mode: color-burn, normal, normal;
  background-size: cover, 100%, cover;
  background-position: center, 50% 0%, center;
}

/* конь */
.decoration-zone::before {
  content: "";
  display: block;
  position: absolute;
  background: center / contain no-repeat url(../images/knight.png);
  inline-size: 153px;
  block-size: 243px;
  transform: rotate(-11deg);
  inset-inline-end: 357px;
  inset-block-end: 25px;
  z-index: 2;
}

/* пешка */
.decoration-zone::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../images/pawn.png);
  width: 82px;
  height: 122px;
  inset-inline-end: 45px;
  inset-block-end: 78px;
}

.header__content-container {
  padding-block: 26px 129px;
}

/* ------------------------------------ шапка ------------------------------------ */

.header__logo {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  padding-block-end: 62px;
}

.logo {
  width: clamp(4.9375rem, 4.63rem + 1.3118vw, 5.75rem);
}

.header__logo-text {
  font-family: var(--main-font, sans-serif);
  font-weight: var(--wght-bold, 700);
  font-size: clamp(0.875rem, 0.8277rem + 0.2018vw, 1rem);
  line-height: 108%;
  text-transform: uppercase;
  color: #595653;
}

/* ===================================== шапка ===================================== */
/* ------------------------------------  текстовый блок главного экрана ------------------------------------ */

.header__cover {
  inline-size: 542px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.cover__title {
  display: flex;
  flex-direction: column;
  font-size: clamp(2.25rem, 1.6824rem + 2.4218vw, 3.75rem);
  line-height: 110%;
  padding-block-end: 24px;
}

.cover__text-top {
  align-self: flex-start;
}

.cover__text-center {
  align-self: center;
}

.cover__text-bottom {
  align-self: flex-end;
}

.cover__subheading {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 130%;
  text-align: center;
  padding-block-end: 40px;
}

/* =====================================  текстовый блок главного экрана ===================================== */
/* ------------------------------------  кнопки главного экрана ------------------------------------ */

.cover__buttons {
  display: flex;
  gap: 16px;
}

.cover__button {
  border-radius: 66px;
  block-size: 72px;
  inline-size: 263px;
  padding: 0 49px;
  line-height: 130%;
  font-size: 16px;
}

.main-button {
  border: 0;
  background-color: var(--main-button-color);
  color: var(--bg-color);
  transition: background-color 0.2s, transform 0.2s ease-in;
}

.main-button:hover {
  background-color: #fbce51;
  color: var(--main-button-color);
  border: 0;

  transition: background-color 1s, transform 1s ease-in;
}

.transparent-button {
  border: 2px solid var(--main-button-color);
  background-color: transparent;
  transition: background-color 0.2s, transform 0.2s ease-in;
}

.transparent-button:hover {
  background-color: var(--main-button-color);
  color: var(--bg-color);
  border: 0;

  transition: background-color 1s, transform 1s ease-in;
}

/* =====================================  кнопки главного экрана ===================================== */
/* ------------------------------------ контент - бегущая строка ------------------------------------ */

.ticker {
  position: relative;
  width: 100%;
  background-color: var(--accent-color);
  border: none;
  overflow: hidden;
  z-index: 20;
}

.ticker__in {
  display: flex;
  width: fit-content;
  animation: ticker 18s linear infinite;
  -webkit-transform-style: preserve-3d;
}

.ticker__in .ticker__text {
  font-size: clamp(1rem, 0.8581rem + 0.6054vw, 1.375rem);
  line-height: 110%;
  text-transform: uppercase;
  color: var(--bg-color);
  padding-block: clamp(0.625rem, 0.4358rem + 0.8073vw, 1.125rem);
  white-space: nowrap;
  -webkit-backface-visibility: hidden;
}

@keyframes ticker {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-50%, 0);
  }
}
/* ===================================== контент - бегущая строка ===================================== */
/* ===================================== главный экран ===================================== */

/* ------------------------------------ контент - 1 блок - описание турнира ------------------------------------ */

.main__tournament-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 64px;
  margin-block-end: 187px;
}

.tournament-description__lecture {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 64px;
}

.tournament-description__lecture__mobile {
  display: none;
}

.tournament-description__title {
  font-size: clamp(1.75rem, 1.5608rem + 0.8073vw, 2.25rem);
  line-height: 135%;
}

.lecture__title {
  inline-size: clamp(20.9375rem, 10.8388rem + 43.0878vw, 47.625rem);
}

.accent-title {
  font-weight: var(--wght-bold, 700);
  color: var(--accent-color);
}

.lecture__image {
  inline-size: clamp(20.9375rem, 19.5421rem + 5.9536vw, 24.625rem);
}

.tournament-description__session {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.session__image {
  width: 527px;
  position: relative;
  margin-inline-start: -25px;
  margin-block-start: -30px;
}

.session__image-main {
  position: relative;
  width: 100%;
}

.session__image-overlay {
  position: absolute;
  mix-blend-mode: color-burn;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
}

.session__title {
  padding-block-end: 45px;
  inline-size: clamp(20.9375rem, 12.2105rem + 37.2351vw, 44rem);
}

/* ------------------------------------ таблица 1 блока ------------------------------------ */

.content-block__table {
  width: 100%;
  display: grid;
  grid-template-columns: 306px 398px;
  grid-template-rows: repeat(5, min-content);
  padding-block-end: 30px;
  align-items: center;
}

tbody,
tr {
  display: contents;
}

.table-column__mobile {
  display: none;
}

td {
  padding-block: 15px;
  border-bottom: 2px solid rgb(208 208 208);
}

.table-column-right {
  border-right: 2px solid rgb(208 208 208);
  opacity: 0.7;
}

.table-column-left {
  font-weight: var(--wght-bold, 600);
  padding-inline-start: 16px;
}

.table-text-decoration {
  text-decoration: line-through 2px var(--accent-color);
}

/* ===================================== таблица 1 блока ===================================== */

.postscriptum {
  color: var(--secondary-accent-color);
  font-size: clamp(1.125rem, 1.0777rem + 0.2018vw, 1.25rem);
}

/* ===================================== контент - 1 блок - описание турнира ===================================== */

/* ------------------------------------ контент - 2 блок - этапы ------------------------------------ */

.main__stages {
  position: relative;
  margin-block-end: 200px;
}

.stages__heading {
  padding-block-end: 54px;
}

.stages__title {
  width: clamp(20.9375rem, 9.7982rem + 47.5277vw, 50.375rem);
  height: fit-content;
  font-size: clamp(2.25rem, 1.8243rem + 1.8163vw, 3.375rem);
  line-height: 120%;
}

.stages__title__postscriptum {
  position: absolute;
  inset-block-start: 72px;
  inset-inline-start: 301px;
  width: 280px;
}

/* ------------------------------------ таблица 2 блока ------------------------------------ */

.stages__elements {
  display: grid;
  grid-template-columns: repeat(3, 394px);
  grid-template-rows: 112px 112px 136px;
  gap: 20px;
  grid-template-areas:
    "thoroughfare hotels farm"
    "palace garage farm"
    "radiostation airport airport";
  list-style-type: none;
}

.elements__item {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(/images/overlay-stages-section-3.png),
    url(/images/bg-stages-section-3.png);
  background-blend-mode: color-burn, normal;
  padding-block-start: 20px;
  padding-inline: 72px 20px;
}

.thoroughfare {
  grid-area: thoroughfare;
  position: relative;
}

.thoroughfare::before {
  content: "";
  position: absolute;
  inline-size: 36px;
  block-size: 36px;
  align-content: center;
  background-image: url(../svg/number1.svg);
  inset-inline-start: 20px;
  inset-block-start: 20px;
}

.hotels {
  grid-area: hotels;
}

.hotels::before {
  content: "";
  position: absolute;
  inline-size: 36px;
  block-size: 36px;
  align-content: center;
  background-image: url(../svg/number2.svg);
  inset-inline-start: 20px;
  inset-block-start: 20px;
}

.farm {
  grid-area: farm;
}

.farm::before {
  content: "";
  position: absolute;
  inline-size: 36px;
  block-size: 36px;
  align-content: center;
  background-image: url(../svg/number3.svg);
  inset-inline-start: 20px;
  inset-block-start: 20px;
}

.palace {
  grid-area: palace;
}

.palace::before {
  content: "";
  position: absolute;
  inline-size: 36px;
  block-size: 36px;
  align-content: center;
  background-image: url(../svg/number4.svg);
  inset-inline-start: 20px;
  inset-block-start: 20px;
}

.garage {
  grid-area: garage;
}

.garage::before {
  content: "";
  position: absolute;
  inline-size: 36px;
  block-size: 36px;
  align-content: center;
  background-image: url(../svg/number5.svg);
  inset-inline-start: 20px;
  inset-block-start: 20px;
}

.radiostation {
  grid-area: radiostation;
}

.radiostation::before {
  content: "";
  position: absolute;
  inline-size: 36px;
  block-size: 36px;
  align-content: center;
  background-image: url(../svg/number6.svg);
  inset-inline-start: 20px;
  inset-block-start: 20px;
}

.airport {
  grid-area: airport;
  padding-inline-end: 325px;
}

.airport::before {
  content: "";
  position: absolute;
  inline-size: 36px;
  block-size: 36px;
  align-content: center;
  background-image: url(../svg/number7.svg);
  inset-inline-start: 20px;
  inset-block-start: 20px;
}

.stages__image {
  position: absolute;
  inset-inline-start: 884px;
  inset-block-end: 0px;
}

.stages__button-arrows__mobile {
  display: none;
}

/* ===================================== таблица 2 блока ===================================== */
/* ===================================== контент - 2 блок - этапы ===================================== */

/* ------------------------------------ контент - 3 блок - участники ------------------------------------ */

.main__participants {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  margin-block-end: 135px;
}

.participants__heading {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.participants__heading-title {
  font-size: clamp(2.25rem, 1.8243rem + 1.8163vw, 3.375rem);
  line-height: 120%;
}

/* ------------------------------------ кнопки слайдера - 3 блок------------------------------------ */

.participants__button-arrows {
  display: grid;
  grid-template-columns: repeat(2, 44px);
  grid-template-rows: min-content;
  column-gap: 66px;
}

.button-arrow {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  background-color: var(--text-color);
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s ease-in;
}

.button-arrow-left {
  border: 0;
  outline: 0;
  background: no-repeat center url(../svg/svg.svg);
}
.button-arrow-right {
  border: 0;
  outline: 0;
  background: no-repeat center url(../svg/svgright.svg);
}

.button-arrow:disabled {
  background-color: #d6d6d6;
}

.button-arrow:hover {
  background-color: #fbce51;

  transition: background-color 0.5s, transform 0.3s ease-in;
}

/* ===================================== кнопки слайдера - 3 блок ===================================== */
/* ------------------------------------ слайдер - 3 блок ------------------------------------ */

.participants__carousel {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
}

.participants__carousel::-webkit-scrollbar {
  height: 0;
}

.participants__carousel-content {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 37px;
  width: 100%;
}

.carousel-item__avatar {
  padding-block-end: 31px;
  background-size: contain;
}

.carousel-item__about {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  padding-block-end: 19px;
}

.about-name {
  font-weight: var(--wght-bold, 600);
  font-size: 24px;
}

.about-status {
  opacity: 0.6;
}

.carousel__button-more {
  border: 1px solid var(--secondary-accent-color);
  border-radius: 62px;
  padding: 12px;
  width: 113px;
  max-height: 35px;
  background-color: transparent;
  color: var(--secondary-accent-color);
  font-size: 16px;
  line-height: 120%;
  text-transform: capitalize;
  transition: background-color 0.3s, transform 0.3s ease-in;
  margin-block-end: 5px;
}

.carousel__button-more:hover {
  background-color: var(--secondary-accent-color);
  color: var(--bg-color);

  transition: background-color 0.5s, transform 0.2s ease-in;
}

/* ===================================== слайдер - 3 блок ===================================== */
/* ===================================== контент - 3 блок - участники ===================================== */

/* ------------------------------------ футер ------------------------------------ */

.footer {
  background-color: var(--secondary-bg-color);
}

.footer__content-container {
  padding-block: 40px 72px;
}

.footer__text {
  font-size: 16px;
  line-height: 120%;
  opacity: 0.6;
}

/* ===================================== футер ===================================== */

@media (width <= 375px) {
  /* mobile ------------------------------------ главный экран ------------------------------------ */

  .container {
    min-width: 335px;
    margin-inline: 20px;
  }

  .header {
    margin-block-end: 48px;
  }

  .decoration-zone {
    background-position: center, bottom 35px right -36px, center;
    background-size: cover, 203%, cover;
  }

  .decoration-zone::before {
    inline-size: 76px;
    block-size: 121px;
    inset-inline-end: 141px;
    inset-block-end: 23px;
  }

  .decoration-zone::after {
    display: none;
  }

  .header__content-container {
    padding-block: 18px 291px;
  }

  .header__logo {
    padding-block-end: 40px;
  }

  .header__cover {
    inline-size: 100%;
  }

  .cover__subheading {
    text-align: start;
    padding-block-end: 32px;
  }

  .cover__buttons {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .transparent-button {
    background-color: rgb(255 255 255 / 0.9);
    border: 0;
  }

  .cover__button {
    block-size: 47px;
    inline-size: 335px;
    padding: 0 18px;
  }

  /* mobile ===================================== главный экран ===================================== */

  /* mobile ------------------------------------ контент - 1 блок - описание турнира ------------------------------------ */

  .main__tournament-description {
    gap: 34px;
    margin-block-end: 120px;
  }

  .tournament-description__lecture {
    display: none;
  }

  .tournament-description__lecture__mobile {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 335px;
    align-items: center;
    gap: 25px;
  }

  .tournament-description__session {
    gap: 24px;
  }

  .session__image {
    width: 376px;
    position: relative;
    margin-inline: -20px;
    margin-block: 0px;
  }

  .session__content-block__title {
    padding-block-end: 31px;
  }

  .session__title {
    padding-block-end: 28px;
  }

  .content-block__table {
    grid-template-columns: 335px;
    grid-template-rows: repeat(10, min-content);
    padding-block-end: 22px;
  }

  td {
    padding-block: 0px;
  }

  .table-column {
    display: none;
  }

  .table-column__mobile {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid rgb(208 208 208);
    padding-block: 15px 16px;
  }

  .text-bold {
    font-weight: var(--wght-bold, 600);
    opacity: 1;
  }

  .table-column-right {
    border: 0;
    padding-block-start: 15px;
  }

  .table-column-left {
    padding-inline-start: 0px;
    padding-block: 12px 15px;
  }

  .table-column-right__mobile,
  .table-column-left__mobile {
    border: 0;
  }

  /* mobile ===================================== контент - 1 блок - описание турнира ===================================== */

  /* mobile ------------------------------------ контент - 2 блок - этапы ------------------------------------ */

  .main__stages {
    margin-block-end: 121px;
  }

  .stages__heading {
    padding-block-end: 149px;
  }

  .stages__title {
    line-height: 110%;
    padding-block-end: 13px;
  }

  .stages__title__postscriptum {
    position: relative;
    inset-block-start: 0px;
    inset-inline-start: 0px;
    width: 355px;
  }

  .stages__elements-carousel {
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  .stages__elements {
    display: grid;
    grid-template-columns: repeat(5, 335px);
    grid-template-rows: repeat(2, min-content);
    column-gap: 40px;
    row-gap: 0px;
    grid-template-areas:
      "thoroughfare farm palace radiostation airport"
      "hotels farm garage radiostation airport";
    list-style-type: none;
    grid-auto-flow: column;
  }

  .elements__item {
    font-size: clamp(1.125rem, 1.0777rem + 0.2018vw, 1.25rem);
    padding-block: 29px 34px;
    padding-inline: 72px 25px;
  }

  .thoroughfare {
    padding-block-start: 64px;
    padding-block-end: 0px;
  }

  .farm {
    padding-block-start: 62px;
  }

  .palace {
    padding-block-start: 62px;
    padding-block-end: 0px;
  }

  .radiostation {
    padding-block-start: 62px;
  }

  .airport {
    padding-block-start: 62px;
    padding-inline-end: 20px;
  }

  .thoroughfare::before {
    inset-block-start: 62px;
  }

  .hotels::before {
    inset-block-start: 28px;
  }

  .farm::before {
    inset-block-start: 62px;
  }

  .palace::before {
    inset-block-start: 62px;
  }

  .garage::before {
    inset-block-start: 60px;
  }

  .radiostation::before {
    inset-block-start: 62px;
  }

  .airport::before {
    inset-block-start: 62px;
  }

  .stages__image {
    width: 100%;
    position: absolute;
    inset-inline-start: 9px;
    inset-block-start: 191px;
    transform: rotate(-4deg);  
  }

  /* mobile ------------------------------------ кнопки - 2 блок  ------------------------------------ */

  .stages__button-arrows__mobile {
    display: grid;
    grid-template-columns: repeat(2, 36px);
    grid-template-rows: min-content;
    column-gap: 66px;
    padding-inline-start: 103px;
    padding-block-start: 28px;
  }

  .button-arrow__mobile {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    background-color: var(--text-color);
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s ease-in;
  }

  .button-arrow-left__mobile {
    border: 0;
    outline: 0;
    background: no-repeat center url(../svg/svg.svg);
  }

  .button-arrow-right__mobile {
    border: 0;
    outline: 0;
    background: no-repeat center url(../svg/svgright.svg);
  }

  .button-arrow__mobile:hover {
    background-color: #fbce51;
  
    transition: background-color-left 0.5s, transform 0.3s ease-in;
  }

  /* mobile ===================================== контент - 2 блок - этапы ===================================== */

  /* mobile ------------------------------------ контент - 3 блок - участники ------------------------------------ */

  .main__participants {
    gap: 41px;
    margin-block-end: 172px;
  }
  .participants__heading-title {
    line-height: 110%;
  }

  .participants__button-arrows {
    grid-template-columns: repeat(2, 36px);
    column-gap: 57px;
  }

  .button-arrow {
    width: 36px;
    height: 36px;
    position: relative;
    inset-block-start: 526px;
    inset-inline-end: 134px;
  }

  .participants__carousel {
    overflow-x: scroll;
  }

  .participants__carousel-content {
    display: grid;
    grid-template-columns: repeat(6, 335px);
    grid-gap: 32px;
    grid-auto-flow: column;
  }

  .carousel-item {
    padding-inline: 20px;
  }

  .carousel-item__avatar {
    inline-size: 244px;
    padding-block-end: 29px;
  }

  .carousel-item__about {
    padding-block-end: 19px;
    gap: 7px;
  }
}

@media (width >= 1920px) {
  .container {
    inline-size: 1222px;
    margin: 0 auto;
  }

  .decoration-zone {
    background-position: bottom;
    background: url(../images/bg.png) no-repeat 50% 50%,
      url(../images/heading-img-1920.png) 54% 7% no-repeat,
      var(--secondary-bg-color);
    background-size: cover, 85%, cover;
  }

  .decoration-zone::before {
    inset-inline-end: 631px;
    inset-block-end: 25px;
  }

  .decoration-zone::after {
    inset-inline-end: 320px;
    inset-block-end: 80px;
  }
}
