.page {
    max-inline-size: var(--maxWidthContainer);
    background-color: var(--bg-color);
    font-family: var(--main-font, sans-serif);
    font-variation-settings: "wght" var(--wght-text, 400);
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0 auto;
    padding: 0px 15px;
    font-size: 20px;
  }

.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 6px;
    padding-block-start: 25px;
    padding-block-end: 25px;
}

.header__logo-text{
    font-family: var(--main-family, sans-serif);
    font-weight: var(--wght-bold, 700);
    font-size: 16px;
    line-height: 108%;
    text-transform: uppercase;
    color: #595653;
}